<div class="bg-darkest">
    <div class="stars"
        style="background-image: url(https://cdn.helperplace.com/web-asset/images/404/overlay_stars.svg);">
        <div class="max-w-[1140px] w-full px-[15px] mx-auto">
            <div class="flex flex-col justify-center items-center h-[100vh]">
                <img class="w-[30%] mb-[-40px]" src="https://cdn.helperplace.com/web-asset/images/logo/5-footer.png"
                    alt="">
                <span class="mt-[50px] text-[25px] mb-[18px] text-white">Page Not Found</span>
                <span class="my-[10px] text-[16px] mx-[50px] text-center text-white">The Page You Are Attempting To Reach Is Currently
                    Not Available. This May Be Because The Page Does
                    Not Exist Or Has Been Moved.</span>
                <div class="mt-[28px]">
                    <a routerLink=""
                        class="py-[14px] mr-[12px] text-[14px] px-[35px] border-[2px] rounded-full text-center text-white cursor-pointer bg-[#25ae88] border-[#25ae88]">Find
                        Candidate</a>
                    <a href=""
                        class="py-[14px] text-[14px] px-[35px] border-[2px] rounded-full text-center text-white cursor-pointer bg-[#ebba16] border-[#ebba16]">Search
                        Job</a>
                </div>
                <a routerLink=""
                    class="py-[14px] hover:bg-white transition-[0.5s] hover:text-black bg-transparent mt-[30px] text-[14px] px-[35px] border-[2px] rounded-full text-center text-white cursor-pointer">Back
                    to Home</a>
            </div>
        </div>
    </div>
</div>