.mat-typography h3 {
    margin: 0 !important;
}

mat-slider {
    width: 95%;
}

mat-form-field.small {
    --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 8px;
    --mat-form-field-container-border-color: 
  }